{
    "ecmaFeatures": {
        "jsx": true,
        "arrowFunctions": true,

        "destructuring": true,
        "spread": true,
        "restParams": true,
        "binaryLiterals": true,
        "blockBindings": true,
        "defaultParams": true,
        "forOf": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "octalLiterals": true,
        "regexUFlag": true,
        "regexYFlag": true,
        "superInFunctions": true,
        "templateStrings": true,
        "unicodeCodePointEscapes": true,
        "globalReturn": true,
    },
    "env": {
        "browser": true,
        "node": true
    },
    "settings": {
        "jsx": true
    },
    "rules": {
        "strict": [2, "never"],
        "no-var": [2],
        "indent": [2, 4],
        "no-underscore-dangle": [0],
        "comma-dangle": [0],
        "no-comma-dangle": [0],
        "camelcase": [0],
        "quotes": [1, "single", "avoid-escape"],
        "func-style": [2, "expression"]
    }
}
